.navbar {
    margin-bottom: 0;

    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    color: white;
}

.navbar-brand {
margin-right: 17rem;
}



.navbar li a, .navbar .navbar-brand {
    color: white;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: grey !important;
    background-color: white !important;
   
}
.navbar-default .navbar-toggle {
    border-color: black;
    color: black !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
  color: black;}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
  font-style: normal;} 

.navbar-nav li a:hover, .navbar-nav li.active a {
   
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
 }

 .logingg{
    float: right;
    margin-left: 250px;
    text-align: center;
 }

